
.carousel-inner img{
  height: 350px;
     width: 500px;
 }
 h5{
   font-family: cursive;
 }
 .carousel-inner div{
   align-self: center;
 }
 .arrow{
  align-self: center;
  text-align: -webkit-center;
 }
 /*header css*/
 .arrow a{
   position: relative;
 }
.sr-only:hover{
   color: rosybrown;
 }
 .hotel-img{
   display: grid;
   width: -webkit-fill-available;
   grid-template-columns: 10% 40% 10%;
   border-right: none;
   align-content: center;
   justify-content: space-evenly;
   
 /*  margin-left: 25px;
   margin-top: 30px;*/
 }
 .form-div{
  
     display: flex;
     flex-direction: column;
     width: 30%;
     padding-left: 30px;
     padding-right: 30px;
     line-height: normal;
    
 }
 .desc-div{
     margin-left: 4%;
     margin-right: 4%;
     margin-top: 1%;
     margin-bottom: 2%;
 }
 
 .flex-form > div{
   height: 400px;
   border: 1px solid black;
  
  
   }
 
 .flex-form{
   display: flex;
     max-height: 400px;
     margin-top: 25px;
     margin-right: 25px;
     margin-left: 25px;
     width: -webkit-fill-available;
  /* margin-right: 1.5%;
   margin-top: 20px;
   margin-left: 25px;
   margin-right: 25px;*/
 }
 
 .inner-formd-div input{
   width: 60%;
 
 }
 .inner-formd-div{
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
   padding-top: 10px;
 }
 
#btn{
  text-align: center;
 
   margin-bottom: 5px;
 }

 
 .container{
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 0px;
   margin: 0px;
   min-width: -webkit-fill-available;
 }

 .checked {
  color: orange;
}
