

#searchBar input{
    width: 24em;
    padding: 10px;
    border: 1px transparent;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    height: auto;
    margin-top: 15px;

}
    #searchBar{
        background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
        min-height: 380px;
        display: grid;
        background-position: center;
        background-size: cover;
        place-items: center;
        align-content: center;
        width: 100%;
        margin-top: -30px;
    }
 

.view {
    color: black;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    

}
.view-more{
    text-align: center;
    margin-bottom: 20px;
}



/*--------------header div starts----------------*/


/*--------------header div ends----------------*/



.cityImg {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    background-position: center;
    background-size: cover;
    box-shadow:  10px 10px 10px grey;
}

.cityImg-container {
    display: flex;
    flex-direction: center;
    align-content: center;
     padding: 3.5em 0;
    justify-content: space-evenly;
align-items: center;
   
}

.cityImg-container a{
    text-decoration: none;
}

.content{
    display: flexbox;
    flex-direction: column;
}



  .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
      width: 100%;
      height: 100%;
      font-size: 0;
  }
  .overlay:hover{
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.5);
      height: 150px;
      width: 150px;
      border-radius: 25%;
  }
