html {
    height: 100%;
    width: 100%;
    margin: 0px;
  }

  body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
  }

#mainContainer{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#logoImg{
    height: 60px;
    width: 60px;
}

.socialImg img{
    height: 20px;
    width: 22px;
}

.hotel-img img{
    height: 500px;
    width: 500px;
}

.header{
    background-color: rosybrown;
}

/*footer css*/
.socialImg{
    background-color: rosybrown;
}

.hotel-div{
background-color: rgb(132, 136, 139);
width: 50%;
height: 20%;
margin: 0 auto;
margin-top: 2%;
margin-bottom: 2%;
}
.customer-desc{
    margin: 2%;
}
.tarrif{
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}